// GOV.UK Frontend options
$govuk-font-family: "Frutiger W01", arial, sans-serif;
$govuk-global-styles: false;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";
$govuk-border-colour: #d8dde0;

// Import NHS Frontend
@import "nhsuk-frontend/dist/nhsuk";

// Import GOV.UK Frontend
@import "govuk-frontend/dist/govuk/all";

// Import GOV.UK Prototype Components
@import "@x-govuk/govuk-prototype-components/x-govuk/all";

@import "cookie-banner";

// Screenshots within main column
.nhsuk-grid-column-two-thirds img {
  border: 5px solid white;
  max-width: 100%;
}

// Override for margin after action links
.nhsuk-action-link {
  margin-bottom: 20px;
}
