@use "pkg:nhsuk-frontend/dist/nhsuk" as *;

@forward "pkg:@x-govuk/nhsuk-eleventy-plugin";

@import "cookie-banner";

// Screenshots within main column
.app-prose-scope img {
  border: 5px solid white;
  max-width: 100%;
}

// Override for margin after action links
.nhsuk-action-link {
  margin-bottom: 20px;
}

// This is a temporary fix to allow us to add 'NEW' tags to 2 of the
// items within the contents list
.nhsuk-contents-list__link[href="/record-vaccinations/"],
.nhsuk-contents-list__link[href="/records/"] {
  text-decoration: none;
}

.app-contents-list__link-text {
  text-decoration: underline;
}

.nhsuk-contents-list__current .app-contents-list__link-text {
  text-decoration: none;
}

.nhsuk-contents-list__link:hover .app-contents-list__link-text {
  text-decoration: none;
}
