<div id="nhsuk-cookie-banner" data-nosnippet="true" >
  <div class="nhsuk-cookie-banner" id="cookiebanner" style="display:none;" data-cookie-version="1" data-policy-url="cookie-preferences.html">
    <div class="nhsuk-width-container a-test-class">
      <h2>Cookies on NHS Record a vaccination guidance</h2>
      <p>We’d also like to use analytics cookies. These collect feedback and send information about how our site is used to a service called Adobe Analytics. We use this information to improve our guidance.

      <p>Let us know if this is OK. We’ll use a cookie to save your choice. You can <a id="nhsuk-cookie-banner__link" href="/cookie-preferences" data-policy-url="/cookie-preferences">read more about our cookies before you choose.

      <ul>
        <li>
          <button class='nhsuk-button' id="nhsuk-cookie-banner__link_accept_analytics" href="#">Accept analytics cookies</button>
        </li>
        <li>
            <button class='nhsuk-button' id="nhsuk-cookie-banner__link_accept" href="#">Reject analytics cookies</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="nhsuk-success-banner" id="nhsuk-cookie-confirmation-banner" style="display:none;">
    <div class="nhsuk-width-container">
      <p id="nhsuk-success-banner__message">You can change your cookie settings at any time.</p>
    </div>
  </div>
</div>
