{% from 'contents-list/macro.njk' import contentsList %}

{{ contentsList({
  items: [
    {
      href: "/",
      text: "Overview",
      current: (page.url == "/")
    },
    {
      href: "/data",
      text: "Vaccination data",
      current: (page.url == "/data/")
    },
    {
      href: "/finding-a-patient/",
      text: "Find a patient",
      current: (page.url == "/finding-a-patient/")
    }, 
    {
      href: "/record-vaccinations/",
      text: ("Record vaccinations <span class=\"nhsuk-tag nhsuk-tag--blue\">New</span>" | safe),
      current: (page.url == "/record-vaccinations/")
    },
    {
      href: "/managing-vaccines/",
      text: "Manage vaccines",
      current: (page.url == "/managing-vaccines/")
    }, 
    {
      href: "/records/",
      text: ("Records <span class=\"nhsuk-tag nhsuk-tag--blue\">New</span>" | safe),
      current: (page.url == "/records/")
    },
    {
      href: "/reporting/",
      text: "Reports",
      current: (page.url == "/reporting/")
    },
    {
      href: "/managing-users/",
      text: "Manage users",
      current: (page.url == "/managing-users/")
    },
    
    {
      href: "/service-unavailable/",
      text: "Help and support",
      current: (page.url == "/service-unavailable/")
    }
  ]
}) }}
