{% from '../../node_modules/nhsuk-frontend/dist/nhsuk/components/contents-list/macro.njk' import contentsList %}

{{ contentsList({
  items: [
    {
      href: "/",
      text: "Overview",
      current: (page.url == "/")
    },
    {
      href: "/record-vaccinations/",
      text: "Record vaccinations",
      current: (page.url == "/record-vaccinations/")
    },
    {
      href: "/managing-vaccines/",
      text: "Vaccines",
      current: (page.url == "/managing-vaccines/")
    },
    {
      href: "/records/",
      text: "Records",
      current: (page.url == "/records/")
    },
    {
      href: "/reporting/",
      text: "Reports",
      current: (page.url == "/reporting/")
    },
    {
      href: "/managing-users/",
      text: "Manage users",
      current: (page.url == "/managing-users/")
    },

    {
      href: "/service-unavailable/",
      text: "Help and support",
      current: (page.url == "/service-unavailable/")
    }
  ]
}) }}
