{% from 'contents-list/macro.njk' import contentsList %}

{{ contentsList({
  items: [
    {
      href: "/guide",
      text: "Overview",
      current: (page.url == "/guide/")
    },
    {
      href: "/finding-a-patient/",
      text: "Finding a patient",
      current: (page.url == "/finding-a-patient/")
    },
    {
      href: "/patient-record/",
      text: "Patient record",
      current: (page.url == "/patient-record/")
    },
    {
      href: "/recording-a-vaccination/",
      text: "Recording a vaccination",
      current: (page.url == "/recording-a-vaccination/")
    },
    {
      href: "/reporting/",
      text: "Reporting",
      current: (page.url == "/reporting/")
    },
    {
      href: "/managing-users/",
      text: "Managing users",
      current: (page.url == "/managing-users/")
    },
    {
      href: "/managing-vaccines/",
      text: "Managing vaccines",
      current: (page.url == "/managing-vaccines/")
    },
    {
      href: "/service-unavailable/",
      text: "If the service is unavailable",
      current: (page.url == "/service-unavailable/")
    }
  ]
}) }}
