{% extends "template.njk" %}

{% block head %}
  <link rel="stylesheet" href="{{ "/styles/application.css" | url }}">
  <script src="/cookie-banner.js" ></script>
{% endblock %}

{% block pageTitle -%}
  {{ title }} - NHS Record a vaccination
{%- endblock %}


{% block bodyStart %}
  {% include "cookie-banner.njk" %}
{% endblock %}

{% block header %}
  {{ header({
    service: {
      name: "Record a vaccination"
    },
    showNav: "false",
    showSearch: "false"
  }) }}
{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/cookie-preferences",
        "label": "Cookies"
      }
    ]
   })}}
{% endblock %}
