{% extends "_base.njk" %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{% block main %}
  <div class="govuk-phase-banner nhsuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="nhsuk-tag govuk-phase-banner__content__tag">
        Pilot
      </strong>
      <span class="govuk-phase-banner__text">
        This is a pilot service.
      </span>
    </p>
  </div>

  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ]
  }) }}
  <div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1>{{ title }} </h1>
          {{ content | safe }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
