{% extends "_base.njk" %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'pagination/macro.njk' import pagination %}

{% block main %}
  <div class="govuk-phase-banner nhsuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="nhsuk-tag govuk-phase-banner__content__tag">
        Pilot
      </strong>
      <span class="govuk-phase-banner__text">
        This is a pilot service.
      </span>
    </p>
  </div>

  {{ breadcrumb({
    items: [
      {
        href: ("/" | url),
        text: "Home"
      }
    ],
    href: (parent.url | url) if parent,
    text: parent.title if parent
  }) }}
  <div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1>{{ title }} </h1>
          {{ content | safe }}

          {{ pagination({
            "previousUrl": (previous.url | url) if previous,
            "previousPage": previous.title if previous,
            "nextUrl": (next.url | url) if next,
            "nextPage": next.title if next
          }) }}

        </div>
      </div>
    </main>
  </div>
{% endblock %}
